body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button:focus{
  outline: none;
}
html {
  background: #2c2f34;
  color: #ffffff;
  text-align: center;
  padding: 5%;
}

a{
  text-decoration: none;
}
a:visited{
  color: #ffffff;
}